<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GabosPacsUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GabosPacsUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GabosPacsUpdater.Properties.Settings>
            <setting name="LocalPathWadoRS" serializeAs="String">
                <value>C:\GABOS\Services\WadoRS</value>
            </setting>
            <setting name="LocalPathDimse" serializeAs="String">
                <value>C:\GABOS\Services\Dimse</value>
            </setting>
            <setting name="LocalPathHangfire" serializeAs="String">
                <value>C:\GABOS\Services\Hangfire</value>
            </setting>
        </GabosPacsUpdater.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GabosPacsUpdater.Properties.Settings>
            <setting name="RemotePathWadoRS" serializeAs="String">
                <value>U:\WadoRS</value>
            </setting>
            <setting name="RemotePathDimse" serializeAs="String">
                <value>U:\Dimse</value>
            </setting>
            <setting name="RemotePathHangfire" serializeAs="String">
                <value>U:\Hangfire</value>
            </setting>
        </GabosPacsUpdater.Properties.Settings>
    </applicationSettings>
</configuration>