<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GabosPacsUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GabosPacsUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GabosPacsUpdater.Properties.Settings>
            <setting name="LocalPathWadoRS" serializeAs="String">
                <value>C:\GABOS\Services\WadoRS</value>
            </setting>
            <setting name="LocalPathDimse" serializeAs="String">
                <value>C:\GABOS\Services\Dimse</value>
            </setting>
            <setting name="LocalPathHangfire" serializeAs="String">
                <value>C:\GABOS\Services\Hangfire</value>
            </setting>
        </GabosPacsUpdater.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GabosPacsUpdater.Properties.Settings>
            <setting name="RemotePathWadoRS" serializeAs="String">
                <value>https://gabospl-my.sharepoint.com/:f:/g/personal/rmajewski_gabos_pl1/Ev2SZgQrYdhDqiGLwI9IoJ4B0a2P26rMAbXU_SWYBghRHQ?e=qrOP8E</value>
            </setting>
            <setting name="RemotePathDimse" serializeAs="String">
                <value>https://gabospl-my.sharepoint.com/:f:/g/personal/rmajewski_gabos_pl1/EpZaqAG2lc9HlafQ2T0BUgQBKu6goQZqSYpldDO2Bi9Kpw?e=meDe6r</value>
            </setting>
            <setting name="RemotePathHangfire" serializeAs="String">
                <value>https://gabospl-my.sharepoint.com/:f:/g/personal/rmajewski_gabos_pl1/EqUT5v4mdp1Im2fCXgiXEuABkMVjimRVH-CHnWyElTcS7g?e=qxYhzq</value>
            </setting>
        </GabosPacsUpdater.Properties.Settings>
    </applicationSettings>
</configuration>